{% extends 'reservar/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h2 class="brand-before">
                        <small>Bienvenido</small>
                    </h2>
                    <h1 class="brand-name">Detalle Reservación</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>BY
                            <strong>DJANGO</strong>
                        </small>
                    </h2>
    
                   
                </div>
            </div>
        </div>
        
 
 <div class="row">
            <div class="box">
                <div class="col-lg-12">
                   

                     <hr>
                     Fecha Reservación:
                        <strong>  {{ post.fechacreado}}</strong>

                        
                    </h2>
                    <h1>Habitación #: {{ post.habitacion }}</h1> 
                    <p>{{ post.descripcion|linebreaks }}</p>
                    <p>Fecha Ingreso:{{ post.fechainicio }}</p> 
                    <p>Fecha Salida:{{ post.fechafinal }}</p>
                    
                    <a class="btn btn-primary" href="{% url 'reservar.views.editar_reserva' pk=post.pk %}" >Editar Reservación</a>
                    
                </div>
            </div>
        </div>

{% endblock content %}  